<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do  %>
      <%= image_tag "aikido.png", atl: "navbar", class: "logo" %>
      <h1>Ki Aïkido <br> Castelnaudary</h1>
    <%end%>
    <% if user_signed_in? %>
      <div class='logout'>
        <%= button_to destroy_user_session_path, method: :delete, class: "out-btn" do%>
          <i class="fa-solid fa-circle-xmark">log out</i>
        <% end %>
      </div>
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <p>MENU</p>
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to 'Accueil', root_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Qui sommes-nous?', about_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "L'enseignement", enseignement_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Informations Pratiques', info_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Dojos', dojos_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Media', media_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Évènements', events_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Bibliographie', bibliographie_path, class: "nav-link" %>
        </li>
      </ul>
    </div>
  </div>
</nav>
