<!DOCTYPE html>
<html>
  <head>
    <title>Ki Aïkido Castelnaudary</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <%= favicon_link_tag 'favaikido.png', rel: 'icon', type: 'image/png' %>
    <%= favicon_link_tag 'favaikido.png', rel: 'apple-touch-icon', type: 'image/png' %>

    <script src="https://unpkg.com/trix@2.0.8/dist/trix.umd.min.js"></script>
  </head>

  <body>
    <%= render "shared/navbar" %>
    <%= render "shared/flashes" %>
    <%= yield %>
    <%= render 'shared/footer' %>
  </body>
</html>
